{{ partial "header" . }}
<article>
	<header>{{ partial "title" . }}</header>
	{{ .Content }}
</article>
<nav class="no-print post-nav">
{{ if .PrevInSection }}
	<a class="prev-post" href="{{ .PrevInSection.Permalink }}">
		<img class="icon-text" src="/img/prev.svg"/>
		{{- .PrevInSection.Title -}}
	</a>
{{ end }}
{{ if .NextInSection }}
	<a class="next-post" href="{{ .NextInSection.Permalink }}">
		{{- .NextInSection.Title -}}
		<img class="icon-text" src="/img/next.svg"/>
	</a>
{{ end }}
</nav>
{{ partial "related" . }}
{{ if in .Site.Params.UtterancesSections .Section}}
	{{ partial "utterances" .}}
{{ end }}
{{ if not .Params.disableComments }}
  <div id="giscus-container" style="margin-top: 3rem;"></div>
<script src="https://giscus.app/client.js"
        data-repo="xumf/xumf.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxMzEzNzc1Njg="
        data-category="General"
        data-category-id="DIC_kwDOB9SpoM4CsTlI"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
{{ end }}
{{ partial "footer" . }}


